:root{
    --text-gray: #5a5d70;
    --text-lgray: #898c99;
    --text-dbrown: #4A3F40;
    --text-dgreen: #404A3F;
    --text-black: #151518;
    --text-white:#F9F9F9;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-image: url(./images/pexels-adrien-olichon-2931290\ new\ copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-white);
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    text-align: center;
}

.col {
    display: flex;
    align-content: center;
    justify-content: center;
}

.row {
    display: flex;
    align-content: center;
    justify-content: center;
}

img{
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 0;
}

/*Navigation*/
nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: var(--text-black);
    opacity: 0.80;
    z-index: 2;
    overflow-x: hidden;
}

nav img {
    max-width: 19%;
    height: 7vh;
    color: inherit;
    filter: invert();
}

.nav__menu{
    width: 80%;
    align-items: center;
    justify-content: flex-end;
}

.nav__menu a,a{
    text-decoration: none;
    color: var(--text-white);
    padding-right: 14.4px;
}

a:hover, a:focus, a:active,.contact__section a:hover, .contact__section a:focus, .contact__section a:active{
    text-decoration: none;
    color: lightsalmon;
}

/* Main Header*/
main {
    width: 85%;
    margin: 0 auto;
}
.main__container{
    padding-top: 44px;
}

.main__header img {
    border-radius: 100%;
    max-width: 240px;
}

.icons {
    font-size: 32px;
    color: var(--text-gray);
}

.icons:hover{
    color: var(--text-white);

}

/*Projects Section*/
.titled__header {
    overflow: hidden;
    text-align: center;
}

.titled__header:before,
.titled__header:after {
    background-color: var(--text-white);
    content: "";
    display: inline-block;
    height: .0625rem;
    position: relative;
    vertical-align: middle;
    width: 71%;
}

.titled__header:before {
    right: 0.5em;
    margin-left: -50%;
}

.titled__header:after {
    left: 0.5em;
    margin-right: -50%;
}

.project__section{ /*All cards*/
    margin: 0 auto;
    align-items: center;
    align-content: center;
}

.project__card { /*Individual card*/
    margin-bottom: 20px;
    background-color: var(--text-dgreen);
    border-radius: .9375rem;
    max-width: 20.625rem;
}

.project__card img { /*Card Img*/
    border-top-left-radius: .9375rem;
    border-top-right-radius: .9375rem;
}

.project__info{
    width: 85%;
    margin: 0 auto;
}

.code {
    padding-bottom: .75rem;
}
.javascript__icon{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.link__code {
    padding-bottom: .75rem;
}

.code a:hover, code a:focus, code a:active {
    color: var(--text-white);
}

/*About Section*/
.about__section {
    max-width: 800px;
    margin: 0 auto;
}

.about__section p{
    font-size: 1.1rem;
    line-height: 2.1875rem;
}

/*Contact Section*/
.text__section{
    font-size: 1.125rem;
}

form{
    max-width: 31.25rem;
}

.form__box{
    /* border: 2px solid green; */
    min-width: 70%;
    max-width: 85%;
}

textarea{
    margin-bottom: 15px;
}

.contact__section a{
    color: lightsalmon;
    text-decoration: underline;
}

/*Footer*/
footer{
    font-size: .8125rem;
    background-color: var(--text-black);
    width: 100%;
    justify-content: center;
    opacity: 0.80;
    align-content: center;
}

.footer__section {
    padding: 1px 0;
}
@media all and (min-width:412px) {
    .project__section{
        display: flex;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }

    form{
        margin: 0 auto;
    }
}

@media all and (min-width: 780px){
    .project__section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media all and (min-width: 900px){
    .main__header{
        display: flex;
        align-items: center;
        max-width: 53.125rem;
        margin: 0 auto;
    }

    .main__header img{
        padding: 15px;
    }


}